<mat-toolbar class="app-top-menu-toolbar">
      <span>
            <a routerLink="/">
                  <img [src]="appLogo" alt="Logo" class="logo-img" />
            </a>
      </span>

      @if (!estaLogado) {
      <span class="spacer"></span>

      <a matButton>Precos</a>
      <a matButton>Contatos</a>

      <span class="spacer"></span>

      <button matButton [disabled]="estaNaRotaLogin()" routerLink="/login">Entrar</button>
      <button matButton="filled" [disabled]="estaNaRotaRegister()" routerLink="/register">Cadastrar-se</button>
      }

      @if (estaLogado) {
      <div mat-card-avatar [matMenuTriggerFor]="menu" class="avatar-usuario">{{pegarInicialUsuario()}}</div>

      <mat-menu #menu="matMenu">
            <button mat-menu-item>Meus dados</button>
            <button mat-menu-item (click)="logout()">Sair</button>
      </mat-menu>
      }
</mat-toolbar>